@import "./settings";


.message-page {
  .meta-section {
    display: inline-block;
    color: $fadedText;
    
    .meta-section--value { color: $text }
    + .meta-section { padding-left: 5px; }
  }
  .message-section--header {
    padding: 10px 20px;
    .message-dates {
      padding-bottom: 20px;
      border-bottom: 1px solid $border;
    }
  }
  .message-section--body {
    padding: 10px 20px;
  }
  .message-section--body-lower {
    padding: 30px 0 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    div.change {
      a {
        font-weight: bold;
        text-decoration: none;
        color: $fadedText;
        
        &:hover { text-decoration: underline; }
      }
    }
  }
}

.comments-section {
  .comments-section--header {
    padding: 10px 20px;
    h2 { border-bottom: 1px solid $border; padding-bottom: 10px; }
  }
}
