$primary: #fb406c;

$bg: #fff;
$headerBg: #f8f8f8;
$messageHoverBg: #f8f8f8;
$tagBg: #f3f3f3;

$border: #ddd;

$text: #333;
$fadedText: #989797;

*, *:before, *:after { box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font: 14px "Nunito Sans", Helvetica, Arial, sans-serif;
  color: $text;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: $primary;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: $fadedText;
}

.header {
  border-top: 3px solid $primary;
  border-bottom: 1px solid $border;
  background: $headerBg;
  position: fixed;
  top: 0;
  width: 100%;
  
  > .inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: stretch;
    height: 40px;
  }

  .header--img {
    max-height: 100%;
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    
    img {
      max-width: 180px;
      height: 35px;
    }
    
    @media (max-width: 1400px){
      flex: 1 1 auto;
      padding: 0 10px;
    }
  }

  .header--centre {
    width: 100%;
    padding: 0 20px;
  }

  .header--right {
    padding-left: 10px;
    flex: 0 0 200px;
    display: flex;
    align-items: stretch;
    
    @media (max-width: 1400px){
      flex: 0 0 auto;
      padding: 0 10px;
    }
  }
}

.body {
  padding: 44px 0 0;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  
  > .body--center {
    flex: 0 1 800px;
    border: 0 solid $border;
    border-width: 0 1px;
  }
}

.message-page {
  .meta-section {
    display: inline-block;
    color: $fadedText;
    
    .meta-section--value { color: $text }
  }
}
